dbs:
  - path: /app/app.db
    replicas:
      - url: s3://my-bucket/prod/app.db
        region: us-east-1
        access-key-id: ${AWS_ACCESS_KEY_ID}
        secret-access-key: ${AWS_SECRET_ACCESS_KEY}